html {
  font-size: 14px;
}

body {
  margin: 0px;
  font-family: arial;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Roboto Mono',monospace;
  background: #000;
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

button, input {
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  font-family: 'Roboto Mono',monospace;
  font-size: 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

button {
  margin-bottom: 0px;
  background: #fff;
  text-transform: uppercase;
}

button:focus, input:focus {
  outline: none;
}

.allBodyContent {
  margin: auto;
}

header {
  padding: 10px;
  width: 90%;
  height: fit-content;
  margin: auto;
  display: flex;
}

.mainContainer {
  font-size: 0px;
  display: flex;
  max-width: 90%;
  margin: auto;
}

.containerContents {
  height: 100%;
  display: inline-block;
  padding: 15px;
  font-size: initial
}

.statsContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container {
  height: 100%;
}

aside {
  width: 20%;
}

.main {
  width: 100%;
  padding: 0px;
}

.videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding: 4px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stats {
  color: #000;
  border-radius: 5px;
  text-align: center;
}

.statsBox {
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 3px 10px rgba(255, 255, 255, .2);
  margin-left: 20px;
  height: fit-content;
}

.row {
  width: 100%;
  /* height: 100%; */
  font-size: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  width: 12vw;
  height: 12vw;
  margin: 10px;
  padding: 0px;
  position: relative;
  transition: 100ms linear;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(255, 255, 255, .2);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 30px rgba(255,255,255,.5);
}

.cardBack {
  background-image: url('../media/cyberpunk_logos/militechCard.jpg');
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #fff;
}

.cardFront {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #fff;
}

.militechLogo {
  display: block;
  max-width: 20vw;
  height: auto;
}

.allure {
  background-image: url('../media/cyberpunk_logos/Allure-Systems-Corporation.jpg');
}

.alphabet {
  background-image: url('../media/cyberpunk_logos/Alphabet.jpg');
}

.amazon {
  background-image: url('../media/cyberpunk_logos/Amazon.jpg');
}

.blackMesa {
  background-image: url('../media/cyberpunk_logos/Black-Mesa.jpg');
}

.disney {
  background-image: url('../media/cyberpunk_logos/Disney.jpg');
}

.gila {
  background-image: url('../media/cyberpunk_logos/Gila.jpg');
}

.mastercard {
  background-image: url('../media/cyberpunk_logos/Mastercard.jpg');
}

.mcDonalds {
  background-image: url('../media/cyberpunk_logos/McDonalds.jpg');
}

.zhi {
  background-image: url('../media/cyberpunk_logos/ZHI.jpg');
}

.modalContainer, .enterModalContainer {
  width: 100%;
  height: 100vh;
  top: 0;
  border-radius: 6px;
  padding: 15px;
  position: fixed;
  display: flex;
  background: rgba(0, 0, 0, .75);
  transition: .3s all;
  z-index: 1;
}

.modalBox {
  margin: auto;
  background: #fff;
  border-radius: 5px;
  transition: .3s all;
  width: 500px;
}

.headingBox, .modalContent {
  padding: 15px;
}

.headingBox {
  border-radius: 5px 5px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ccc;
  color: #000;
  text-transform: uppercase;
}

.modalContent {
  border-radius: 0px 0px 5px 5px;
}

.modalContent h3 {
  text-align: left;
  color: #000;
}

.colorOverlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, .5);
}

.hidden {
  display: none;
  transition: .3s all;
}

.cardFront {
  position: absolute;
  height: 100%;
}

header h1 {
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 2.5rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}

h4 {
  font-size: 3rem;
  text-align: center;
  color: #000;
  margin: auto;
}

h6 {
  font-size: 1.3rem;
  text-align: center;
  margin: auto;
}

.hailMilitech {
  text-align: center;
}

.accessGranted {
  background: #95d07c;
  color: #1d501c;
}

.accessDenied {
  background: #a00000;
  color: #4c0707;
}

.alertText {
  color: #a00000;
}

.largeText {
  font-size: 1.2rem;
  line-height: 2rem;
}

.resetButton, .startButton {
  padding: 15px;
  width: 100%;
  font-size: 1rem;
}

.noMoreClicks {
  pointer-events: none;
}

.blur {
  filter: blur(5px);
}

.whiteGlow {
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.25);
}

.greenGlow {
  box-shadow: 0px 0px 50px rgba(40, 150, 33, 0.5);
}

.redGlow {
  box-shadow: 0px 0px 50px rgba(142, 18, 18, 0.5)
}

.volumeDiv {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.m-auto {
  margin: auto;
}

/* iPad Pro */
@media (max-width: 1375px) {
  .card {
    width: 8.75vw;
    height: 8.75vw;
    margin: 5px;
  }

  video {
    height: 100%;
  }

  h6 {
    font-size: 1rem;
  }

  .largeText {
    font-size: .8rem;
    line-height: 1.6rem;
  }
}

/* iPad */
@media (max-width: 768px) {
  .mainContainer, aside, .main {
    max-width: 100%;
    width: 100%;
  }

  .mainContainer {
    display: block;
  }

  aside, main {
    display: block;
  }

  .modalBox {
    width: 100%;
  }

  .statsBox {
    padding: 5px;
  }

  .containerContents {
    height: initial;
  }

  .card {
    width: 14vw;
    height: 14vw;
  }
}

/* Mobile Phones */
@media (max-width: 460px) {
  header {
    display: block;
    width: 100%;
  }

  .militechLogo {
    max-width: 60vw;
  }

  .statsContainer {
    justify-content: center;
    flex-wrap: wrap;
  }

  .statsBox {
    margin: auto;
    width: 40%;
    margin: 5px;
  }

  .card {
    width: 23vw;
    height: 23vw;
  }
}
