body {
  margin: 0px;
  font-family: arial;
}

* {
  box-sizing: border-box;
}

header {
  padding: 20px;
  border: 1px dotted #000;
}

.mainContainer {
  height: calc(100vh - 79px);
  font-size: 0px;
  display: flex;
}

.containerContents {
  height: 100%;
  display: inline-block;
  border: 1px dotted #000;
  padding: 20px;
  font-size: initial
}

.container {
  height: 100%;
}

aside {
  width: 25%;
}

main {
  width: 75%;
}

.stats {
  padding: 20px;
  border: 1px dotted #000;
  margin-bottom: 20px;
}

.row {
  width: 100%;
  height: calc(33.3333% - 13.3333px);
  font-size: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row:nth-child(1), .row:nth-child(2) {
  margin-bottom: 20px;
}

.card {
  width: calc(16.6667% - 20px);
  margin: 0px;
  padding: 0px;
  position: relative;
}

.cardBack {
  background-image: url('assets/images/lfz-card.jpg');
  background-size: contain;
  background-position: center;
  position: absolute;
  height: 100%;
}

.cardFront {
  position: absolute;
  height: 100%;
}

h1 {
  text-align: center;
  margin: auto;
}

h3 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
  text-align: center;
  margin: auto;
}
